<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-sm">
        <div class="application-name">Weather viewer</div>
    </div>
    <div class="col-sm">
        <div class="position-relative">
            <input aria-label="Search" class="form-control w-100" id="location-search" placeholder="Search location"
                   type="search">
            <ul class="list-group position-absolute w-100" id="search-results" style="display: none;"></ul>
        </div>
    </div>
    <div class="col-sm">
        <div class="d-flex align-items-center justify-content-end" id="button-container"></div>
    </div>
</nav>
